main {
    padding: 10px 30px 30px;
    max-width: 1200px;
    background: #292A2D;
    color: #e4e5e7;
    font-size: 25px;
    font-family: 'Roboto';
    border-radius: 30px;
}

body {
    background-color: #202124;
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 999px;
    background-color: #95e39f;
    color: #292A2D;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #3e3f42;
    color: #e4e5e7;
}

.monospace {
    font-family: monospace;
}

.pass{
    background-color: #202124;
    padding: 4px;
    margin: 4px;
    width: 800px;
    height: 50px;
    border-radius: 30px;
    line-height: 50px;
    text-align: center;
}